.workSection{
    padding: 30px 10%; 
    width: 100%;
    scroll-behavior: smooth;
}

.butDiv button{
    margin-top: 100px;
    background-color: gray;
    color: white;
    padding: 20px;
    align-items: center;
    text-align: left;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
}

.butDiv span{
    color: orange;
}

.butDiv button:hover{
    background-color: black;
    color: white;
    
}


.firstDiv h2{
        font-size: 30px;
        align-items: center;
        padding-top: 20px;
        text-align: justify;
        margin-bottom: 20px;
        line-height: 40px;
}

.workSampleDiv{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    align-items: center;
    cursor: pointer;
}
.image1Div{
    margin-bottom: 10px;
}


.projectDiv p{
    text-align: justify;
    
}

.contactSection{
    padding: 30px 10%;
}

.conDiv button{
    background-color: gray;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 20px;
}

.conDiv span{
    color: orange;
    margin-top: 10px;
   
}

.conDiv button:hover{
    background-color: black;
    color: white;
}
.contactDiv h3{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: justify;
    font-weight: bolder;
}
.emailDiv p{
    background-color: gray;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 20px;
    font-style: italic;
}

.emailDiv :hover{
    background-color: black;
    color: white;
}
.phoneDiv p{
    background-color: gray;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 20px;
    font-style: italic;
}

.phoneDiv :hover{
    background-color: black;
    color: white;
}
.whatsappDiv p{
    background-color: gray;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 20px;
    font-style: italic;
}
.whatsappDiv :hover{
    background-color: black;
    color: white;
}